<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/User/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Kullanıcılar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Station/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Tren İstasyonları</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Voyage/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane-alt"></i>
            <div data-i18n="Analytics">Tren Seferleri</div>
        </a>
    </li>
 
  
</ul>